{% extends 'public/base.html' %}

{% load custom_filters %}

{% block container %}
    <table id="tableList" class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th class="average-rating orderable" data-order="average_rating">Average rating</th>
                <th class="unique-hits orderable" data-order="unique_views">Unique views</th>
                <th class="hits orderable" data-order="views">Hits</th>
            </tr>
        </thead>
        <tbody>
            {% for article in object_list %}
            <tr>
                <td>{{ article.id }}</td>
                <td>
                    <a href="{% url 'page' article.pk article.get_first_page.pk %}">
                        {{ article.title }}
                    </a>
                </td>
                <td>{{ article.average_rating|floatformat|strip_0 }}</td>
                <td>{{ article.unique_views }}</td>
                <td>{{ article.views }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock container %}